.charView {
  position: relative;
  top: 250px;
  width: 250px;
  height: 350px;
  border: 1px solid black;
  float: left;
  margin: 0 auto;
}
.charViewList {
  margin: 0 auto;
  text-align: center;
}
.charImg {
  position: relative;
  top: -30px;
}
