.charViewList {
  width: 80%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.characterCardContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.characterCardContainer:nth-child(1) {
  margin-top: 0px;
}
.characterCardContainer:nth-child(2) {
  margin-top: 0px;
}
.characterCardContainer:nth-child(3) {
  margin-top: 0px;
}
.characterCardContainer:nth-child(4) {
  margin-top: 0px;
}
.charView {
  border: 1px solid black;
  width: 210px;
  height: 350px;
}
.charView img:hover {
  transform: scale(1.5, 1.5);
  opacity: 0.6;
}


.charinfo {
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    border: 1px solid #e8ebee;
   justify-content: center;
   align-items: center;
}
.cinfo {
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  background: #f1f1f1;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 30%;
  height: 20px;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}


/* 선택된 내용만 보이기 */
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}