.forms {
  border: 1px solid black;
  width: 562px;
  height: 50px;


}
.formsInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
input {
  width: 250px;
  height: 40px;
  border: none;
}

select {
  text-align: center;
  position: relative;
  width: 130px;
  height: 40px;
  border: none;
  cursor: pointer;
}
button {
  position: relative;
  width: 180px;
  height: 50px;
  border: none;
  background-color: #90cdd8;
  cursor: pointer;
}
