
.statsInfo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
   border: 3px solid #dfdfdf;
}

.stateView {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    box-shadow: 1px 1px 1px 1px #dfdfdf;
}

.statusName{
    width: 54%;
    border: 1px solid #dfdfdf;
 

}

.statusVlaue{
    width: 46%;
    border: 1px solid #dfdfdf;

}